@import "../../utils/_variables.scss";

mat-form-field {
  display: block;
  margin-bottom: $spacing * .5;
}

.btn-group {
  display: flex;

  button {
    flex-grow: 1;
    & + button {
      margin-left: $spacing * .25;
    }
  }
}
