<h2>Edit transaction</h2>

<form id="form-update" #transferForm="ngForm">
  <mat-form-field class="fill">
    <mat-label>ID</mat-label>
    <input matInput type="text" id="id" name="id" [(ngModel)]="transfer.id" #id="ngModel" readonly>
  </mat-form-field>

  <mat-form-field class="fill">
    <mat-label>Account Holder</mat-label>
    <input matInput type="text" id="accountHolder" name="accountHolder"
           [(ngModel)]="transfer.accountHolder" #accountHolder="ngModel">
  </mat-form-field>

  <mat-form-field class="fill">
    <mat-label>IBAN</mat-label>
    <input matInput id="IBAN" name="IBAN" class="form-control" #IBAN="ngModel" type="text" ibanValidator
           [(ngModel)]="transfer.IBAN" [ngModelOptions]="{standalone: true}" required autocomplete="off">
    <mat-error *ngIf="IBAN.errors?.required">
      IBAN required
    </mat-error>
    <mat-error *ngIf="IBAN.errors?.iban">
      IBAN invalid
    </mat-error>
  </mat-form-field>

  <mat-form-field class="fill">
    <mat-label>Amount</mat-label>
    <input matInput type="text" id="amount" name="amount" currencyMask min="50" max="20000000"
           [options]="{ suffix: ' € ', prefix: '', thousands: '.', decimal: ',' }"
           [(ngModel)]="transfer.amount" #amount="ngModel">
    <mat-error *ngIf="amount.invalid && (amount.dirty || amount.touched)">
      Amount invalid
    </mat-error>
  </mat-form-field>

  <mat-form-field class="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="date" [(ngModel)]="transfer.date" name="date" required [min]="today"
           (click)="date.open()" readonly>
    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="fill">
    <mat-label>Note</mat-label>
    <textarea matInput id="note" name="note" [(ngModel)]="transfer.note" #note="ngModel"></textarea>
  </mat-form-field>

  <div class="btn-group">
    <button type="button" mat-stroked-button mat-dialog-close>Cancel</button>
    <button id="btn-save" type="submit" mat-dialog-close mat-raised-button color="primary"
            [disabled]="transferForm.invalid || IBAN.errors" (click)="save()">Save
    </button>
  </div>
</form>
