@import "../../utils/_variables.scss";

table {
  width: 100%;
}

  #btn-add-transfer {
  float: right;
}

.list-header {
  margin-bottom: $spacing * 1.5;
}

table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: $spacing 0;
}

.alert-error {
  margin-top: $spacing * 2;

  .mat-card-avatar {
    width: 24px;
    height: 24px;
    color: $warn;
  }

  .mat-card-subtitle {
    margin-bottom: 0;
  }
}


